#porta para api
PORT_API=8000

 #
#token syma
 API_TOKEN=''
 
API_BASE_URL="https://api.tiendanube.com"
API_VERSION="2025-03"
ID_LOJA=''
# config banco de dados -------

APPLICATION_URL="https: "

HOST='192.168.100.107'
PORT_DB=3306
USER=' '
PASSWORD=' '
DB_ESTOQUE=' '
DB_VENDAS =' '
DB_PUBLICO=' '
DB_FINANCEIRO =' '
DB_API=' '

# url conexao broker
BROKER_URL=''
QUEUE_NAME=" "
EXCHANGE_NAME=" "
ORIGIN_NAME=" "
 
 # --------------------------------------------------------

# consultar https://crontab.guru/ antes de qualquer alteraçao

# IMPORTAR_PEDIDOS = '*/30 6-20 * * 1-6'        # importa pedidos de 30 em 30 minutos, das 6h às 20h todos os dias da semana, de segunda a sábado.
# ENVIAR_ESTOQUE = '*/40 6-20 * * 1-6'          # verifica se há necessidade de atualizar estoque de 50 em 50 minutos, das 6h às 20h todos os dias da semana, de segunda a sábado.
# ENVIAR_PRECO = '*/50 6-20 * * 1-6'            # Verifica se há necessidade de atualizar os preços de 40 em 40 minutos, das 6h às 20h todos os dias da semana, de segunda a sábado.
# ATUALIZAR_PRODUTOS = '0 */5 * * 1-6'            # atualiza os produtos de 1 em 1 hora, das 6h às 20h todos os dias da semana, de segunda a sábado.
# ENVIAR_PEDIDO_ENTREGA = '*/52 6-20 * * 1-6'
# ATUALIZAR_STATUS_PEDIDO = '*/50 6-20 * * 1-6'

#configs
CRON =0
EVENTOS=1
API_KEY_IMGBB =  
API_KEY_FREEIMGHOST= 

 